/*教學卡*/
.card {
  background-color: rgb(163, 68, 68);
  width: 288px;
  height: 250px;
  box-shadow: 2px 2px 10px;
  display: inline-block;
}

.card:hover {
  outline: 2px solid cornflowerblue;
  box-shadow: 2px 2px 10px rgb(117, 66, 0);
  background-color: rgb(56, 22, 0);
}

.card img {
  padding: 5px;
  width: 280px;
  height: 170px;
}

.card a {
  text-decoration: none;
  color: black;
}

.card h3 {
  font-size: 30px;
}

.allcard {
  padding: 10px;
}
/*背景*/
.title {
  background-color: silver;
  width: 98.7%;
  text-align: center;
  float: left;
  padding: 10px;
}
/*導航藍*/
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(32, 32, 32);
  left: 0px;
  top: 0px;
  list-style-position: inside;
  position: sticky;
  display: block;
}

.list-link {
  display: block;
  background-color: rgb(57, 57, 57);
  color: seashell;
  padding: 12px;
  text-align: center;
  display: inline;
  float: left;
  text-decoration: none;
}

.list-link:hover {
  background-color: rgb(83, 83, 83);
}
/*標題*/

header {
  background-color: rgba(212, 0, 255, 0.993);
  text-align: center;
  font-size: 35px;
  color: white;
}

nav {
  float: left;
  width: 30%;
  height: 300px;
  background: #ccc;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: rgb(0, 63, 16);
  padding: 10px;
  text-align: center;
  color: white;
}
